[submodule "tutorials/T01_vivado_basics/latex"]
	path = tutorials/T01_vivado_basics/latex
	url = https://github.com/UofT-HPRC/ECE532-Tut-Vivado_Basics
[submodule "tutorials/T02_microblaze/latex"]
	path = tutorials/T02_microblaze/latex
	url = https://github.com/UofT-HPRC/ECE532-Tut-Microblaze
[submodule "tutorials/T03_memory/latex"]
	path = tutorials/T03_memory/latex
	url = https://github.com/UofT-HPRC/ECE532-Tut-Adding_Memory_to_Microblaze
[submodule "tutorials/T04_ILA/latex"]
	path = tutorials/T04_ILA/latex
	url = https://github.com/UofT-HPRC/ECE532-Tut-ILA
[submodule "tutorials/T05_LWIP/latex"]
	path = tutorials/T05_LWIP/latex
	url = https://github.com/UofT-HPRC/ECE532-Tut-LWIP
[submodule "tutorials/T06_custom_IP/latex"]
	path = tutorials/T06_custom_IP/latex
	url = https://github.com/UofT-HPRC/ECE532-Tut-Package_IP
[submodule "tutorials/T07_VIP/latex"]
	path = tutorials/T07_VIP/latex
	url = https://github.com/UofT-HPRC/ECE532-Tut-AXI_VIP
[submodule "assignments/A1_simulating_AXI/latex"]
	path = assignments/A1_simulating_AXI/latex
	url = https://github.com/UofT-HPRC/ECE532-Assign-Simulating_AXI
[submodule "assignments/A2_primitives/latex"]
	path = assignments/A2_primitives/latex
	url = https://github.com/UofT-HPRC/ECE532-Assign-Primitives
[submodule "tests_and_demos/in_lab_test/latex"]
	path = tests_and_demos/in_lab_test/latex
	url = https://github.com/UofT-HPRC/ECE532-Lab-Test
[submodule "tests_and_demos/warm_up_demo/latex"]
	path = tests_and_demos/warm_up_demo/latex
	url = https://github.com/UofT-HPRC/ECE532-Lab-Warm_Up_Demo
[submodule "schedule/latex_old"]
	path = schedule/latex_old
	url = https://github.com/UofT-HPRC/ECE532-Schedule
